.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

.list-group-item {
	cursor: pointer;
}

.list-group-item:hover {
	background: #eee;
}

.search-bar {
	margin-top: -20px;
	margin-bottom: 20px;
	text-align: center;
}

.search-bar input {
	width: 75%;
}

.video-item img {
	max-width: 64px;
}

.video-detail .details {
	margin-top: 10px;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
}

